body {
  font-family: verdana, sans-serif;
  background: #e7f3f1;
}

* {
  box-sizing: border-box;
}

.login-container {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-container:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  display: inline-block;
  height: 50%;
  width: 98%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  border-radius: 10px;
}
.login-container .login-box {
  padding: 20px 50px;
  background: #fff;
  border-radius: 10px;
  width: 400px;
  box-shadow:
    2px 4px 4px #dcdcdc,
    -2px 4px 4px #dcdcdc;
}
.login-container .login-box .header {
  height: 50px;
  line-height: 50px;
  position: relative;
  color: #4085ae;
}
.login-container .login-box .header:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 8px;
  background: #b3c6c2;
}
.login-container .login-box .content {
  padding: 10px;
}
.login-container .login-box .content {
  padding: 10px;
}
.login-container .login-box .content .input-box {
  margin-top: 15px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}
.login-container .login-box .content .input-box input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  font-size: 0.9em;
  outline: none;
  background: transparent;
}
.login-container
  .login-box
  .content
  .input-box
  input:focus
  + span:first-of-type,
.login-container
  .login-box
  .content
  .input-box
  input:not(:placeholder-shown)
  + span:first-of-type {
  font-size: 0.8em;
  top: -10px;
}
.login-container .login-box .content .input-box input:focus ~ span:last-of-type,
.login-container
  .login-box
  .content
  .input-box
  input:not(:placeholder-shown)
  ~ span:last-of-type {
  width: 100%;
}
.login-container .login-box .content .input-box span:first-of-type {
  color: #ccc;
  position: absolute;
  top: 10px;
  left: 0;
  text-align-last: left;
  pointer-events: none;
  transition: all 0.1s linear;
}
.login-container .login-box .content .input-box span:last-of-type {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0px;
  background: #1f6b98;
  transition: all 0.2s linear;
}
.login-container .login-box .content .input-box button {
  width: 70%;
  background: transparent;
  border: 1px solid #ccc;
  padding: 15px;
  color: #ccc;
  cursor: pointer;
  border-radius: 8px;
}
.login-container .login-box .content .input-box .buttone {
  background: transparent;
  border: 1px solid #ccc;
  padding: 15px;
  color: #ccc;
  cursor: pointer;
  border-radius: 8px;
}
.link {
  width: 20%;
  background: transparent;
  border: 1px solid #ccc;
  padding: 10px;
  color: #ccc;
  cursor: pointer;
  border-radius: 8px;
}

.login-container .login-box .content .input-box button:hover {
  background-image: linear-gradient(to top, #538683, #71b3ae, #79c3b3);
  color: #ffff;
}
.login-container .login-box .content .input-box button:focus {
  background-image: linear-gradient(to top, #538683, #71b3ae, #79c3b3);
  color: #ffff;
}
.login-container .login-box .content .input-box .buttone:hover {
  background-image: linear-gradient(to top, #74908e, #97bdbb, #b1c9c8);
  color: #ffff;
}

.login-container .login-box .content .input-box a {
  display: inline-block;
  text-decoration: none;
  color: #ccc;
  font-size: 0.9em;
  padding-top: 20px;
}
.login-container .login-box.register-box {
  background-image: linear-gradient(to top, #648483, #86a6a3, #a4c4bd);
  position: fixed;
  top: 30px;
  right: -20px;
  width: 110px;
  height: 60px;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}

.login-container .login-box.register-box .header {
  color: #fff;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas iguales */
  gap: 15px; /* Espacio opcional entre columnas */
}

.login-container .login-box.register-box .header:before {
  background: #fff;
  opacity: 0;
}
.login-container .login-box.register-box .header h3 {
  position: relative;
  top: -28px;
  left: -33px;
  font-size: 14px;
  transition: all 0.3s linear;
}

.login-container .login-box.register-box .content .input-box input {
  color: #fff;
}
.login-container .login-box.register-box .content .input-box .buttone {
  width: 20%;
}
.login-container .login-box.register-box .content .input-box span:last-of-type {
  background: #fff;
}
.login-container .login-box.register-box:not(.open):hover {
  cursor: pointer;
}
.login-container .login-box.register-box .close {
  color: #fff;
  font-size: 1.6em;
  position: absolute;
  top: 22px;
  right: 28px;
  font-weight: bold;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}
.login-container .login-box.register-box.open {
  top: 0;
  right: 0;
  width: 100%;
  height: 150%;
  border-radius: 10px;
}
.login-container .login-box.register-box.open .header:before {
  opacity: 1;
}
.login-container .login-box.register-box.open .header h3 {
  top: 0;
  left: 0;
  font-size: initial;
}
.login-container .login-box.register-box.open .close {
  transform: rotate(135deg);
  top: 43px;
  opacity: 1;
  transition: all 0.3s 0.3s linear;
}
/* DE LOS INPUTS */
/* Contenedor general del TextField */
.textfield-container {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  font-size: 0.9em;
  outline: none;
  background: transparent;
  transition: color 0.3s ease-in-out; /* Animación para el cambio de color */
}

/* Estilo del label */
.textfield-container .MuiInputLabel-root {
  color: #ccc; /* Color del label */
  transition: color 0.3s ease-in-out; /* Animación para el cambio de color */
}
/* Estilo del label */
.textfield-container .MuiInputLabel-root.Mui-focused {
  color: #d5d3d3; /* Color del label */
  transition:
    transform 0.3s ease,
    color 0.3s ease; /* Animación del movimiento */
}

/* Línea inferior por defecto */
.textfield-container .MuiInputBase-root::before {
  border-bottom: 1px solid #ccc; /* Línea inferior */
}

/* Línea inferior cuando el TextField está en hover */
.textfield-container .MuiInputBase-root:hover:not(.Mui-disabled)::before {
  border-bottom-color: #ccc; /* Línea inferior cuando se pasa el mouse */
}

/* Línea inferior cuando el TextField está enfocado */
.textfield-container .MuiInputBase-root::after {
  border-bottom: 2px solid #fff; /* Línea inferior blanca al enfocar */
  transition: border-bottom 0.3s ease-in-out; /* Animación de la transición */
}

/* Ocultar ícono del select (si aplica) */
.textfield-container .MuiSelect-icon {
  display: none; /* Oculta la flecha del select */
}

/* Espaciado adicional en el label cuando está asociado a un select */
.textfield-container
  label
  + .css-j218zi-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  margin-top: 16px;
  color: white;
}

/* Estilo del contenido del TextField */
.textfield-container .MuiInputBase-root {
  color: #ccc; /* Color del texto del input */
}

/* Hover en el label */
.textfield-container .MuiInputLabel-root:hover {
  color: #fff; /* Cambia el color del label al pasar el mouse */
}
